<footer class="app-footer">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third-from-desktop">
        <div class="app-footer__logo">
          <img aria-hidden="true" class="app-footer__logo-img" src="{{ assetPath }}/images/kbrinl-logo.png">
          <span class="app-footer__logotype">
            <div class="govuk-!-font-weight-bold">
            {{ translate("kbridh.embassy") }}
            </div>
            {{ translate("kbridh.embassyLocation") }}
          </span>
        </div>
      </div>
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png"></a><br>
            Copyright © {{ copyrightYear }} Indonesia.nl. <br>
      </div>
    </div>
  </div>
</footer>