<header class="app-header">
  <div class="govuk-width-container">
    <a href="https://indonesia.nl" class="app-header__title app-header__link">
      <img class="app-header__crest" src="{{ assetPath }}/images/bti-crest.png" alt="">
      <div>
        <div class="app-header__title-text">
          {{ translate("kbridh.embassy") }}
          <br aria-hidden="true">
          {{ translate("kbridh.embassyLocation") }}
        </div>
        <div class="app-header__service-name">{{ govukServiceName }}</div>
      </div>
    </a>
  </div>
</header>