.app-footer {
  background-color: $govuk-canvas-background-colour;
  padding-top: govuk-spacing(8);
  padding-bottom: govuk-spacing(6);
  border-top: 1px solid $govuk-border-colour;
  @include govuk-typography-common;
}

.app-footer__logo {
  display: flex;
  align-items: center;
  margin-bottom: govuk-spacing(4);
}

.app-footer__logo-img {
  width: 80px;
  margin-right: govuk-spacing(4);
}

.app-footer__list {
  @extend %govuk-list;
  @include govuk-font(16);
}

.app-footer__link {
  @include govuk-link-common;
  @include govuk-link-style-text;
}

.app-footer__address {
  font-style: normal;
  margin-bottom: govuk-spacing(3);
  @include govuk-font($size: 16);

  @include govuk-media-query($from: desktop) {
    margin-bottom: govuk-spacing(4);
  }
}

.app-footer__address-item {
  display: block;
  margin-bottom: govuk-spacing(1);
}

.app-footer__menu {
  padding-bottom: govuk-spacing(6);
  border-bottom: 1px solid $govuk-border-colour;
}
